body {
    font-family: 'Montserrat', sans-serif;
}
#title {
    background-color: #ff4c68;
    color: #fff;

}

.container-fluid {
    padding: 3% 15% 7%;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
h3 {
    font-family: "Montserrat";
    font-weight: bold;
}

.dog-phone {
    transform: rotate(25deg);
    width: 20%;
    position: absolute;
    right: 25%;
  
}


/* Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 2.5rem;
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Monserrat-Light";
}

/* Download Button */
.download-button {
    margin: 5% 3% 5% 0;
}
#features {
    text-align: center;
    padding: 180px 180px;
    background-color: #fff;
    position: relative;
    z-index: 1;


}
.icons {
    color: #ef8172;
    font-size: 60px;
    padding-bottom: 10px;
}
.icons:hover {
    color: #ff4c68;
}
#features h3 {
    font-weight: bold;
}

#features p {
    color: #8f8f8f;
}

/* Testimonial Section */
#testimonials {
    
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.logos {
    width: 15%;
    margin: 20px 20px 50px;
}


.carousel-item {
    padding: 7% 15%;
}

#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}
@media (max-width: 1028px) {
    .dog-phone {
        position: static;
        transform: rotate(0deg);
        width: 60%;
    }
    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    color: #fff;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.5;
    padding: 3% 15% 3%;
    text-align: center;
}
.cta-heading {
    font-family: "Montserrat";
    font-size: 3,5rem;
    font-weight: bold;
    line-height: 1.5;
}
#footer {
    background-color: #fff;
    text-align: center;
    padding: 6% 15% 6%;
}
.footer-icons {
    padding: 2%;
    color: black;
}
.footer-icons:hover {
    color: #ff4c68;
}